*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/istockphoto-1460853312-612x612.jpg");
    background-size: cover;
}
.flexBd_Container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.flexBd_Container{
    justify-content: center;
    align-items: center;
}
.bd-container-uno{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.bd-containder-dos{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.bds {
border: 22px solid green:
}