/* Archivo: fondo.css */

/* Fondo con degradado */
body {
    background: url('img/fondoPremium.jpg');
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.flexContainerInicio{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.flexContainerInicio{
    justify-content: center;
    align-items: center;
    margin: auto;
}
.passworOlvidada{
    color: black;
    font-size: 14px;
    text-decoration: underline;
}
.passworOlvidada:hover{
    cursor: pointer;
    color: cornflowerblue;
}
