*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
body{
  background-image: url("../img/istockphoto-1460853312-612x612.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}
.header-container-ultimate{
display: flex;
flex-direction: row;
padding: 40px;
width: 100%;
background-color: rgba(0, 0, 0, 0.3); /* Negro con 50% de transparencia */
justify-content: space-between;

}

.menu-ultimate ul{
  display: flex;
  flex-direction: row;
  list-style: none;
    
  gap: 70px;
}
a{
color: aqua;
font-size: 18px;
}
.logo{
  color: aqua;
}
main{
  padding: 40px;
  flex-grow: 1;
}
.footer-ultimate{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de transparencia */

}
.section-container article{
  flex: 1; /* Para que los artículos crezcan */
}
.section-container{
  display: flex;
  flex-direction: row;
  width: 100%; /* Asegura que ocupe todo el ancho */
  padding: 20px; /* Para que no queden pegados a los bordes */
  justify-content: space-between;
  gap: 20px;
  
}
.art-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doctor-image{
  display: flex;
  justify-content: center;
}

.imgSacm{
  max-width: 80%;
  height: auto;
  border-radius: 50px;
}
.art-container{
  color: aqua;
}
.art-container p{
  color: white;
}
.art-container{
  gap: 40px;
}
.footer-ultimate{
  color: white;
  text-align: right;
}
a{
  text-decoration: none;
}
#titlePagOne{
  border-style: solid;
  border-radius: 0px 22px 22px 0px;
  border-color: aqua;
  background-color: aqua;
  color: black;
}
#titlePagTwo{
  border-style: solid;
  border-radius: 22px 0px 0px 22px;
  border-color: aqua;
  background-color: aqua;
  color: black;
}
#flex-order{
  text-align: right;
}
.cont-menu a{
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
.cont-menu a:hover{
  border-bottom: 2px solid aqua;
  border-radius: 8px;
  padding-bottom: 5px;
}
p{
  text-shadow: 3px 3px 3px black;
}