
.mainRegister{
height: 100%;
width: 100%;
}

.registro-container {
  width: 70vw; /* Mantiene el ancho máximo del contenedor en 400px */
  height: 90vh;
  margin: auto; /* Centra el contenedor horizontalmente */
  display: flex;
  flex-direction: column;
  gap: 1cm;
  background-color: white;
  border-radius: 62px;
}
.contForm{
    display: flex;
  flex-direction: row;
  align-items: flex-start; /* Alinea todo al centro del contenedor */
  justify-content: center;
}
img{
position: relative ;
margin: auto;
height: 220px;
width: 300px;
border-radius: 80px;
margin: 2cm;
}



/* Estilo para el título del formulario */
#titulo {
  margin-top: 1cm;
  color: darkblue;
  text-align: center  ;
}

/* Estilo para el formulario */
.formulario {
 
 /* El formulario ocupa el 100% del ancho del contenedor */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px; /* Espacio entre los campos del formulario */
}

/* Estilo para cada grupo de formulario */
.form-group {
  display: flex;
  flex-direction: column;
}

/* Estilo para las etiquetas de los campos */
label {
  padding: 2px;
  margin-bottom: 5px; /* Espacio entre la etiqueta y el campo */
  font-weight: bold;
  color: black;
}

/* Estilo para los campos de entrada */
input {
  width: 80%; /* El campo de entrada ocupa el ancho completo */
  padding: 12px; /* Espacio interno */
  border: 1px solid black;
  border-radius:15px;
  font-size: 12px;
}

/* Efecto al hacer foco en los campos */
input:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilo para el botón de registro */
.btn {
  width: 80%; /* Botón con ancho completo */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover para el botón */
.btn:hover {
  background-color: #0056b3;
}

/* ///////////////////
//////////////////////
//////////////////////// */
/* MEDIAQUERY STYLES */
/* ///////////////////
//////////////////////
//////////////////////// */

@media  screen and (max-width: 1300px) {
  .imgRegisterSacm{
    display: none;
  }
  .formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formulario input{
    margin-right: 2cm;
    margin-left: 1cm;
  }
}

@media screen and (max-width: 450px){
  .formulario{
    margin: auto;
  }

  .form-group input{
    margin: auto;
  }
  .btn{
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}