/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    background-image: url("../assets/img/istockphoto-1460853312-612x612.jpg");
    background-size: cover;
  }
  .containerMain{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 2cm;
  }
  .containerUno{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
  }

  .containerUno{
    color: aliceblue;
    text-shadow: 3px 2px 4px black;
  }
  .containerUno h1{
    text-align: center;
  }
  
  p{
    text-align: center;
  }
  .pSacm{
   font-weight: bold;
 
  }
  /* Contenedor principal */
  .contenedorDos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Para que sea responsivo */
    gap: 30px;
    padding: 20px;
  }
  
  /* Cada caja blanca */
  .caja {
    position: relative;
    background-color: white;
    padding: 60px 30px 30px; /* Más espacio arriba para el ícono */
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos del ícono verde */
  .icono {
    position: absolute;
    top: -30px; /* Para que sobresalga */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2ecc71; /* Verde */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .icono img{
    border-radius: 2px;
  }
  /* Estilos de la imagen del ícono */
  .icono img {
    width: 30px;
    height: 30px;
  }
  
  /* Diseño responsivo */
  @media (max-width: 768px) {
    .contenedor {
      flex-direction: column;
    }
  }
  